body{
	margin-left: 200px;
	margin-right: 200px;
}

.destine{
	text-align: center;
	margin-left: 500px;
}
.prof{
	text-align: center;
	margin-left: 420px;
}
.first{
	float: left;
	color:black;
	margin-left: 50px;
	text-align: center;
}
.ud{
	text-shadow: #CCC 1px 0 10px;

}
.seconde{
	float: left;
	color:black;
	margin-left: 100px;
	margin-right: 50px;
}
.troisieme{
	text-align: center;
	color:black;
	text-align: left;
}
.title{

}
.responsable{


}
.Date-actuel{
	float: right;
}